@import '~assets/styles/variables';

.card-categorie {
	display: block;
	width: 100%;
	font-size: 1rem;
	color: $gray-700;
	border-radius: 8px;
	background-color: $light-gray;
	overflow: hidden;
	@include media-breakpoint-up(md) {
		border-radius: 15px;
	}

	h3 {
		margin-bottom: 9px;
		font-weight: 600;
		letter-spacing: -0.7px;
		@include media-breakpoint-down(sm) {
			margin-bottom: 10px;
			font-size: 1rem;
			letter-spacing: 0;
		}
	}

	&__image {
		width: 100%;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__text {
		@include media-breakpoint-up(md) {
			padding: {
				top: 27px;
			}
		}
		padding: {
			top: 28px;
			right: 15px;
			bottom: 24px;
			left: 15px;
		}
	}

	&__stock {
		strong {
			font-weight: 600;
			color: $secondary;
		}
	}

	&:hover {
		text-decoration: none;
		color: $gray-700;
		box-shadow: 5px 5px 20px rgba($black, 0.08);
	}
}

