<div class="layout">
	<div class="container">
		<div class="row">
			<div class="col-md-8 mb-5 mb-md-0">
				{% include 'components/post' %}
			</div>
			<div class="col-md-4">
				{% include 'components/download' %}
			</div>
		</div>
	</div>
</div>

