<section data-component="account" class="account">
    <div class="container">
        {% if user %}
            <h1>{{ post.title }}</h1>
        {% endif %}

        {{ post.content }}
    </div>
</section>

