@import '~assets/styles/variables';

.visit {
	margin-bottom: 30px;
	font-size: 1rem;
	color: $gray-600;
	background-color: $light-gray;
	@include media-breakpoint-up(md) {
		margin-bottom: 50px;
		padding: {
			bottom: 76px;
		}
	}
	padding: {
		bottom: 60px;
	}

	.container {
		@include media-breakpoint-up(xxl) {
			max-width: 1170px;
		}
	}

	h2 {
		margin-bottom: 32px;
		font-size: 2rem;
	}

	&__text {
		position: relative;
		width: 100%;
		height: 100%;
		@include media-breakpoint-up(md) {
			padding-bottom: 54px;
		}
	}

	h3 {
		margin-bottom: 17px;
		font-weight: 600;
		letter-spacing: -1px;
		color: $secondary;
	}

	address {
		margin-bottom: 25px;
	}

	&__tel {
		margin-bottom: 13px;
		display: inline-block;
		font-size: 1.25rem;
		font-weight: 600;
		letter-spacing: -1px;
		color: $secondary;

		&:hover {
			text-decoration: none;
			color: $primary;
		}
	}

	&__btn {
		@include media-breakpoint-up(md) {
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
}
