<div class="example-widget" data-component="example-widget">
    {% if title %}
        <div class="example-widget__title h4">{{ title }}</div>
    {% endif %}
    <div class="example-widget__content">
        This is an example widget using ACF
    </div>
</div>
