@import '~assets/styles/variables';

.blog {
	margin-bottom: 30px;
	width: 100%;
	@include media-breakpoint-up(lg) {
		margin-bottom: 61px;
	}

	h2 {
		margin-bottom: 40px;
		padding-bottom: 16px;

		&:after {
			margin-left: -29px;
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 60px;
			height: 2px;
			background-color: $gray-300;
			content: '';
		}
	}
}
