@import '~assets/styles/variables';

.brand-logo {
	margin-bottom: 52px;
	width: 100%;
	@include media-breakpoint-up(xl) {
		margin-bottom: 148px;
	}

	h2 {
		margin-bottom: 40px;
		padding-bottom: 16px;

		&:after {
			margin-left: -29px;
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 60px;
			height: 2px;
			background-color: $gray-300;
			content: '';
		}
	}

	img {
		margin: 0 auto 21px;
		width: 90px;
		@include media-breakpoint-up(md) {
			margin: 0;
			width: auto;
		}
	}
}
