<a href="{{ fn('get_term_link', item) }}" data-component="card-table" class="card-table">
    <div class="card-table__image">
        {{ image(term_image,[262, 223]) }}
    </div>

    <div class="card-table__text">{{ item.name }}</div>
</a>
