@import '~assets/styles/variables';

.similar {
	margin-bottom: 50px;
	@include media-breakpoint-up(md) {
		margin-bottom: 70px;
	}

	h3 {
		margin-bottom: 30px;
	}

	&__block {
		@include media-breakpoint-up(xl) {
			width: calc(100% + 180px);
		}
	}
}
