@import '~assets/styles/variables';

.banner {
	margin-bottom: 60px;
	position: relative;
	z-index: 1;
	@include media-breakpoint-up(md) {
		margin-bottom: 81px;
	}

	&__text {
		min-height: 285px;
		@include media-breakpoint-up(md) {
			min-height: 285px;
		}
	}

	&__title {
		font-size: 1.777rem;
		font-weight: 700;
		letter-spacing: -0.5px;
		text-align: center;
		color: $white;
		@include media-breakpoint-up(md) {
			font-size: 3.75rem;
		}
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($secondary, 0.55);
			content: '';
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}

	&--inner {
		.banner__text {
			min-height: 285px;
			@include media-breakpoint-up(md) {
				min-height: 285px;
			}
			@include media-breakpoint-up(lg) {
				min-height: 285px;
			}
		}

		.banner__title {
			@include media-breakpoint-down(sm) {
				font-size: 2rem;
			}
		}

		.banner__image {
			&:before {
				background-color: rgba($secondary, 0.7);
			}
		}
	}
}