@import '~assets/styles/variables';

.magazine {
	width: 100%;
	background-color: $light-gray;
	@include media-breakpoint-up(md) {
		background-color: $white;
		padding: {
			top: 50px;
		}
	}
	padding: {
		top: 43px;
		bottom: 59px;
	}

	h1 {
		@include media-breakpoint-down(sm) {
			font-size: 1.185rem;
		}
		@include media-breakpoint-up(md) {
			margin: {
				bottom: 35px;
			}
		}
		margin: {
			bottom: 17px;
		}
	}

	ul {
		margin: 0;
		list-style: none;
		@include media-breakpoint-up(md) {
			padding: {
				top: 20px;
				right: 23px;
				left: 23px;
			}
		}
		padding: {
			top: 23px;
			right: 23px;
			bottom: 3px;
			left: 10px;
		}

		li {
			position: relative;
			font-size: 0.75rem;
			color: $gray-600;
			padding: {
				bottom: 15px;
				left: 34px;
			}

			&:after {
				position: absolute;
				top: -5px;
				left: 0;
				font-family: $font-family-icon;
				font-size: 1.115rem;
				color: $green;
				content: '\e900';
				@include media-breakpoint-up(md) {
					color: $dark-green;
				}
			}
		}
	}

	&__box {
		@include media-breakpoint-up(md) {
			margin: {
				bottom: 30px;
			}
		}
		margin: {
			bottom: 19px;
		}

		p {
			@include media-breakpoint-down(sm) {
				font-size: 0.885rem;
			}
		}
	}

	&__left {
		padding: 20px;
		border-radius: 10px;
		background-color: $white;
		box-shadow: 0 4px 30px rgba($black, 0.07);
		@include media-breakpoint-down(sm) {
			margin: {
				bottom: 44px;
			}
		}
	}

	&__right {
		border-radius: 10px;
		background-color: $white;
		@include media-breakpoint-up(md) {
			background-color: rgba($light-gray, 0.5);
		}
	}

	&__image {
		border-radius: 10px;
		background-color: $seashell;
		padding: {
			top: 52px;
			right: 30px;
			bottom: 60px;
			left: 30px;
		}
	}

	.container {
		@include media-breakpoint-up(xxl) {
			max-width: 1171px;
		}
	}
}
