<a href="https://tomassotables.com/nl/tafels/eettafels" data-component="card-categorie" class="card-categorie">
    <div class="card-categorie__image">
        <picture>
            <img src="{{ fn('get_template_directory_uri') }}/dist/images/Eettafels-img.jpg" alt="">
        </picture>
    </div>

    <div class="card-categorie__text text-center">
        <h3>Eettafels</h3>
        <div class="card-categorie__stock"><strong></strong> Kies uit 485 producten</div>
    </div>
</a>